h1
{
    text-align: center;
    font-size: 250%;
}

h2
{
    text-align: center;
}

h3
{
    text-align: center;
}

p
{
    color:rgb(17, 131, 17);
    text-decoration-line : underline;
}


img
{
    width : 200px;
}

