<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{url_for('static', filename='css/login_ok.css')}}">
        <title>Connexion</title>
    </head>

    <body>
        <body style="background-color:rgb(104, 233, 126);">

            <h1>Bienvenue en Guyane !</h1>

            <p>
                Pour découvrir la Guyane, voici un petit 
            <a href="quizz.html">quizz.</a>
            </p>

            <div><img src="{{url_for('static', filename='img/carte_guyane.jpg')}}"></div>
    </body>
</html>

